{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account</title>
    <link rel="stylesheet"  type="text/css" href="{% static 'send/css/account.css' %}">
</head>
<body>
<h2>{{ request.user.username }}</h2>
<label>Your send gmail:</label><br><br>
{% for email in send_emails %}
    {{email.email}}<br>
{% endfor %}

<br><br>

<label>Your to send gmail:</label><br><br>

{% for email in to_emails %}
    {{email.email}}<br>
{% endfor %}<br>
<label>This Form add Email for to send:</label><br>
<form method="post" action="{% url 'add_rec_email' %}">
    {% csrf_token %}
    <label for="id_email">Email:</label>
    <input type="email" name="email" maxlength="254" required id="id_email">
    <select class='form_add_rec_email' name="user" required id="id_user">
    <option value="{{ request.user }}" selected>{{ request.user }}</option>
    </select><br>
    <input type="submit" value="add">
</form>
<label>This Form add Email for  send:</label><br>
<form method="post" action="{% url 'add_send_email' %}">
        {% csrf_token %}
    <label for="id_email">Email:</label>
    <input type="email" name="email" maxlength="254" required id="id_email"><br></br>

    <select class='form_add_rec_email' name="user" required id="id_user">
        <option value="{{ request.user }}" selected>{{ request.user }}</option>
    </select>
    <label for="id_password">Password:</label>
    <input type="password" name="password" maxlength="50" required id="id_password">
    <br>
    <input type="submit" value="add">
</form>

</body>
</html>