{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account</title>
    <link rel="stylesheet"  type="text/css" href="{% static 'send/css/account.css' %}">
        <link rel="stylesheet"  type="text/css" href="{% static 'register/css/register.css' %}">
</head>
<body>
<h2>{{ request.user.username }}</h2>
<label>Your send gmail:</label><br><br>
{% for email in send_emails %}
    {{email.email}}<br>
{% endfor %}

<br><br>

<label>Your to send gmail:</label><br><br>

{% for email in to_emails %}
    {{email.email}}<br>
{% endfor %}<br>

<div class="product">

<form class="decor" method="post" action="{% url 'add_rec_email' %}">
    {% csrf_token %}
    <div class="form-left-decoration"></div>
<div class="form-right-decoration"></div>
<div class="circle"></div>
<div class="form-inner">
    <h4>Recipient's mail</h4>
    <input type="email" placeholder="email" name="email" maxlength="254" required id="id_email">
    <select class='form_add_rec_email' name="user" required id="id_user">
    <option value="{{ request.user }}" selected>{{ request.user }}</option>
    </select><br>
    <input type="submit" value="add">
</div>
</form>
</div>


<form class="decor" method="post" action="{% url 'add_send_email' %}">
        {% csrf_token %}
    <div class="form-left-decoration"></div>
<div class="form-right-decoration"></div>
<div class="circle"></div>
<div class="form-inner">
    <h4>Sender's mail</h4>
    <input type="email" placeholder="email" name="email" maxlength="254" required id="id_email"><br></br>
    <select class='form_add_rec_email' name="user" required id="id_user">
        <option value="{{ request.user }}" selected>{{ request.user }}</option>
    </select>
    <input type="password" placeholder="password" name="password" maxlength="50" required id="id_password">
    <br>
    <input type="submit" value="add">
</div>
</form>
</body>
</html>