.product_right{
    display: none;
}

.file_form{
    display: none;
}
a.new_mess {
  font-weight: 700;
  color: white;
    margin-top: 10px;
    margin-left: 90%;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  background: #000000;
  transition: 0.2s;
    border-radius: 1px;
}
a.new_mess:hover { background: #d74e4e; }
a.new_mess:active {
  background: #d74e4e;
  box-shadow: 0 3px #d74e4e inset;
}
.add
{
  width: 75px;
  height: 75px;
  line-height: 75px;
  text-align: center;
  border: 1px dashed grey;
  margin: 10px 0;
}

.add:hover
{
  cursor: pointer;
  background-color: #360581;
}