.form_add_rec_email{
    display: none;
}

.decor_label {
   position: relative;
   max-width: 400px;
   background: white;
   border-radius: 30px;

}

.product_left{
     float: left;
    margin-top: 45px;
}

.product_right{
     float: left;
     margin-left: 150px;
}
.product_right1{
     float: left;
     margin-left: 190px;
}

.clear {
    clear: left;
}

.two {
  background: #d2f861;
  padding: 50px 20px;
  text-align: center;
}
.two h1 {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  color: #5C2610;
  font-size: 3em;
  font-weight: normal;
  line-height: 1;
  padding: 10px 0;
  margin: 0;
  display: inline-block;
}
.two h1:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 80%;
  height: 200%;
  border-radius: 50%/30%;
  border: 6px solid #5C2610;
  border-left-color: transparent;
  border-right-color: transparent;
}
@media (max-width: 420px) {
  .two h1 {font-size: 2em;}
}





a.button {
  font-weight: 700;
  color: white;
    margin-top: 70px;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  background: black;
  transition: 0.2s;
    border-radius: 1px;
}
a.button:hover { background: #d74e4e; }
a.button:active {
  background: #d74e4e;
  box-shadow: 0 3px #d74e4e inset;
}

a.button2 {
  font-weight: 700;
  color: white;
    margin-top: 70px;
    margin-left: 90%;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  background: black;
  transition: 0.2s;
    border-radius: 1px;
}
a.button2:hover { background: #d74e4e; }
a.button2:active {
  background: #d74e4e;
  box-shadow: 0 3px #d74e4e inset;
}