 select {
      width: 140px;
      height: 35px;
      padding: 4px;
      border-radius:4px;
      box-shadow: 2px 2px 8px #999;
      background: #eee;
      border: none;
      outline: none;
      display: inline-block;
      -webkit-appearance:none;
      -moz-appearance: none;
      appearance: none;
      cursor: pointer;
       margin-bottom: 20px;
      }




.row {
	margin: 40px 0;
}

.left-column {
	display: inline-block;
	width: 250px;
}

.right-column {
	display: inline-block;
}




a.new_mess {
  font-weight: 700;
  color: white;
    margin-top: 10px;
    margin-left: 90%;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  background: #000000;
  transition: 0.2s;
    border-radius: 1px;
}
a.new_mess:hover { background: #d74e4e; }
a.new_mess:active {
  background: #d74e4e;
  box-shadow: 0 3px #d74e4e inset;
}

.form-inner label {
   margin-top: 0;
   font-family: 'Roboto', sans-serif;
   font-weight: 500;
   font-size: 16px;
   color: #707981;
}

